.therapy-section{

padding:60px;

text-align:center;

}

.therapy-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

margin-top:40px;

}

.therapy-grid button{

padding:20px;

font-size:1rem;

font-weight:600;

background:#D4AF37;

border:none;

border-radius:14px;

cursor:pointer;

transition:.3s;

}

.therapy-grid button:hover{

transform:translateY(-5px);

}

.stop-btn{

background:#C62828 !important;

color:white;

}

#deviceStatus{

margin-top:35px;

font-size:1.1rem;

font-weight:600;

color:#D4AF37;

}
